@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
  font-family: 'Teko', sans-serif;
}

body {
  background: url(fundo-quiz.jpg);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

  .quiz-container {
    text-align: center;
    margin: 50px auto;
    max-width: 50%;
    background-color: #2a2b65;
    box-shadow: 0px 0px 20px 7px #000;
    padding: 20px;
    border-radius: 30px;
  }
  
  h1 {
    font-size: 60px;
    margin-top: 0;
    color: #f2f2f2;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

#imgTitulo{
  width:30%;
  margin-bottom: 3rem;
}

  button {
    box-shadow: 0px 0px 7px 2px #000;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color .4s;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }
  
  button:hover {
    background-color: #ddd;
    transform: scale(1.05);
    transition: all .4s;
  }
  
  #result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  #startButton {
    background-color: #4CAF50;
    color: #fff;
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }
  
  #submitButton {
    display: none;
  }

  #question{
    gap: .8rem;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #fff;
  }
  .menuDeOpções{
    display:block;
    margin: 0;
  }

  /* Estilo padrão para input radio */
  input[type="radio"] {
    opacity: 0; /* Esconder o input padrão */
    position: absolute;
    cursor: pointer;
  }

  /* Estilizando o estilo do input radio personalizado */
  .quiz-container {
    position: relative;
    margin-bottom: 10px;
  }

  /* Estilizando o indicador do input radio personalizado */
  .quiz-container label {
    position: relative;
    padding-left: 30px; /* Espaçamento para a aparência do radio button */
    cursor: pointer;
  }

  .quiz-container label:before {
    content: "";
    margin-right: 0px;
    margin-top: 6px;
    position: absolute;
    left: 0; 
    right: 50px;
    top: 1px;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff; /* Cor da borda do radio button */
    border-radius: 50%; /* Transformando em um círculo */
  }

  /* Estilo quando o input radio está marcado */
  input[type="radio"]:checked + label:before {
    background-color: #000; /* Cor de fundo do círculo quando selecionado */
  }

  /* Estilo quando o input radio está desabilitado */
  input[type="radio"]:disabled + label {
    color: #999; /* Cor do texto quando desabilitado */
    cursor: not-allowed;
  }

  input[type="radio"]:disabled + label:before {
    border-color: #999; /* Cor da borda quando desabilitado */
    background-color: #ddd; /* Cor de fundo do círculo quando desabilitado */
  }
